<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>
	<unity>
		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
		<containers>
			<container name="Unity_Container">
				<!-- type="接口完全限定名, DLL文件名"；mapTo="实现类完全限定名, DLL文件名" -->
				<register type="Zhy.IoC.Core.IKeyboard, Zhy.IoC.Core" mapTo="Zhy.IoC.Unity.TogarKeyboard, Zhy.IoC.Unity"/>
				<register type="Zhy.IoC.Core.IMouse, Zhy.IoC.Core" mapTo="Zhy.IoC.Unity.LogitechMouse, Zhy.IoC.Unity"/>
				<register type="Zhy.IoC.Core.IComputer, Zhy.IoC.Core" mapTo="Zhy.IoC.Unity.LenovoComputer, Zhy.IoC.Unity"/>
				<register type="Zhy.IoC.Core.IPerson, Zhy.IoC.Core" mapTo="Zhy.IoC.Unity.Programmer, Zhy.IoC.Unity" name="Programmer"/>
				<register type="Zhy.IoC.Core.IPerson, Zhy.IoC.Core" mapTo="Zhy.IoC.Unity.Gamer, Zhy.IoC.Unity" name="Gamer"/>
			</container>
		</containers>
	</unity>
</configuration>